In [48]:
import pandas as pd
import numpy as np

player_df = pd.read_csv('Game_Logs_Runningback.csv')
player_df.replace('--', np.nan, inplace=True)
player_df = player_df.drop(columns = ["Position", "Home or Away", "Game Date", "Games Played", "Games Started", "Longest Reception", "Longest Rushing Run", "Fumbles"])

In [49]:
player_df = player_df[player_df['Season'] == "Regular Season"]
player_df = player_df.drop(columns = ["Season"])
player_df = player_df.sort_values(by=['Player Id', 'Year', 'Week'])

In [50]:
valid = player_df[['Receptions', 'Rushing Yards']].notna().any(axis=1)
player_df = player_df[valid]

In [51]:
valid = player_df[['Receptions', 'Rushing Yards']].notna().any(axis=1)  # Identify valid games
player_game_counts = player_df[valid].groupby(['Player Id', 'Year']).size()

# Filter players with less than 6 valid games in a season
valid_players = player_game_counts[player_game_counts > 5].index
player_df = player_df[player_df.set_index(['Player Id', 'Year']).index.isin(valid_players)]

In [ ]:
player_df.replace(np.nan, 0, inplace=True)

,Player Id,Name,Year,Week,Opponent,Outcome,Score,Rushing Attempts,Rushing Yards,Yards Per Carry,Rushing TDs,Receptions,Receiving Yards,Yards Per Reception,Receiving TDs,Fumbles Lost
33908,aaronripkowski/2552477,"Ripkowski, Aaron",2016,5,NYG,W,23 to 16,2,17,8.5,0,0,0,0,0,0
33909,aaronripkowski/2552477,"Ripkowski, Aaron",2016,6,DAL,L,16 to 30,1,0,0.0,0,1,2,2.0,0,0
33910,aaronripkowski/2552477,"Ripkowski, Aaron",2016,7,CHI,W,26 to 10,3,8,2.7,0,1,8,8.0,0,0
33911,aaronripkowski/2552477,"Ripkowski, Aaron",2016,8,ATL,L,32 to 33,6,34,5.7,0,1,-1,-1.0,0,0
33912,aaronripkowski/2552477,"Ripkowski, Aaron",2016,9,IND,L,26 to 31,2,4,2.0,0,1,3,3.0,0,0
33914,aaronripkowski/2552477,"Ripkowski, Aaron",2016,11,WAS,L,24 to 42,2,9,4.5,0,0,0,0,0,0
33915,aaronripkowski/2552477,"Ripkowski, Aaron",2016,12,PHI,W,27 to 13,3,1,0.3,1,2,15,7.5,0,0
33916,aaronripkowski/2552477,"Ripkowski, Aaron",2016,13,HOU,W,21 to 13,3,14,4.7,1,1,4,4.0,0,0
33917,aaronripkowski/2552477,"Ripkowski, Aaron",2016,14,SEA,W,38 to 10,3,2,0.7,0,0,0,0,0,0
33920,aaronripkowski/2552477,"Ripkowski, Aaron",2016,17,DET,W,31 to 24,9,61,6.8,0,2,15,7.5,1,0
22598,adamwalker/2503497,"Walker, Adam",1995,1,NO,W,24 to 22,1,2,2.0,0,0,0,0,0,0
22607,adamwalker/2503497,"Walker, Adam",1995,11,DAL,W,38 to 20,3,10,3.3,0,1,4,4.0,0,0
22608,adamwalker/2503497,"Walker, Adam",1995,12,MIA,W,44 to 20,3,19,6.3,0,3,19,6.3,0,0
22609,adamwalker/2503497,"Walker, Adam",1995,13,STL,W,41 to 13,3,6,2.0,0,2,29,14.5,0,0
22610,adamwalker/2503497,"Walker, Adam",1995,14,BUF,W,27 to 17,1,1,1.0,1,2,13,6.5,0,0
22611,adamwalker/2503497,"Walker, Adam",1995,15,CAR,W,31 to 10,1,6,6.0,0,1,4,4.0,0,0
22612,adamwalker/2503497,"Walker, Adam",1995,16,MIN,W,37 to 30,2,0,0.0,0,0,0,0,0,1
22613,adamwalker/2503497,"Walker, Adam",1995,17,ATL,L,27 to 28,0,0,0,0,2,9,4.5,0,0
3944,adgerarmstrong/2508627,"Armstrong, Adger",1981,1,LA,W,27 to 20,2,7,3.5,0,1,12,12.0,0,0
3945,adgerarmstrong/2508627,"Armstrong, Adger",1981,2,CLE,W,9 to 3,4,10,2.5,0,1,48,48.0,0,0