In [42]:
import pandas as pd
import numpy as np

player_df = pd.read_csv('Game_Logs_Runningback.csv')
player_df.replace('--', np.nan, inplace=True)
player_df = player_df.drop(columns = ["Position", "Home or Away", "Game Date", "Yards Per Carry", "Yards Per Reception", "Games Played", "Games Started", "Longest Reception", "Longest Rushing Run", "Fumbles"])

In [43]:
player_df = player_df[player_df['Season'] == "Regular Season"]
player_df = player_df.drop(columns = ["Season"])
player_df = player_df.sort_values(by=['Player Id', 'Year', 'Week'])

In [44]:
valid = player_df[['Receptions', 'Rushing Yards']].notna().any(axis=1) 
player_df = player_df[valid]

In [45]:
valid = player_df[['Receptions', 'Rushing Yards']].notna().any(axis=1)  # Identify valid games
player_game_counts = player_df[valid].groupby(['Player Id', 'Year']).size()

# Filter players with less than 6 valid games in a season
valid_players = player_game_counts[player_game_counts > 5].index
player_df = player_df[player_df.set_index(['Player Id', 'Year']).index.isin(valid_players)]

In [47]:
player_df.replace(np.nan, 0, inplace=True)
player_df.reset_index(drop=True, inplace=True)
player_df.shape

(35004, 14)

In [48]:
player_df.iloc[:20, :]

,Player Id,Name,Year,Week,Opponent,Outcome,Score,Rushing Attempts,Rushing Yards,Rushing TDs,Receptions,Receiving Yards,Receiving TDs,Fumbles Lost
0,aaronripkowski/2552477,"Ripkowski, Aaron",2016,5,NYG,W,23 to 16,2,17,0,0,0,0,0
1,aaronripkowski/2552477,"Ripkowski, Aaron",2016,6,DAL,L,16 to 30,1,0,0,1,2,0,0
2,aaronripkowski/2552477,"Ripkowski, Aaron",2016,7,CHI,W,26 to 10,3,8,0,1,8,0,0
3,aaronripkowski/2552477,"Ripkowski, Aaron",2016,8,ATL,L,32 to 33,6,34,0,1,-1,0,0
4,aaronripkowski/2552477,"Ripkowski, Aaron",2016,9,IND,L,26 to 31,2,4,0,1,3,0,0
5,aaronripkowski/2552477,"Ripkowski, Aaron",2016,11,WAS,L,24 to 42,2,9,0,0,0,0,0
6,aaronripkowski/2552477,"Ripkowski, Aaron",2016,12,PHI,W,27 to 13,3,1,1,2,15,0,0
7,aaronripkowski/2552477,"Ripkowski, Aaron",2016,13,HOU,W,21 to 13,3,14,1,1,4,0,0
8,aaronripkowski/2552477,"Ripkowski, Aaron",2016,14,SEA,W,38 to 10,3,2,0,0,0,0,0
9,aaronripkowski/2552477,"Ripkowski, Aaron",2016,17,DET,W,31 to 24,9,61,0,2,15,1,0
10,adamwalker/2503497,"Walker, Adam",1995,1,NO,W,24 to 22,1,2,0,0,0,0,0
11,adamwalker/2503497,"Walker, Adam",1995,11,DAL,W,38 to 20,3,10,0,1,4,0,0
12,adamwalker/2503497,"Walker, Adam",1995,12,MIA,W,44 to 20,3,19,0,3,19,0,0
13,adamwalker/2503497,"Walker, Adam",1995,13,STL,W,41 to 13,3,6,0,2,29,0,0
14,adamwalker/2503497,"Walker, Adam",1995,14,BUF,W,27 to 17,1,1,1,2,13,0,0
15,adamwalker/2503497,"Walker, Adam",1995,15,CAR,W,31 to 10,1,6,0,1,4,0,0
16,adamwalker/2503497,"Walker, Adam",1995,16,MIN,W,37 to 30,2,0,0,0,0,0,1
17,adamwalker/2503497,"Walker, Adam",1995,17,ATL,L,27 to 28,0,0,0,2,9,0,0
18,adgerarmstrong/2508627,"Armstrong, Adger",1981,1,LA,W,27 to 20,2,7,0,1,12,0,0
19,adgerarmstrong/2508627,"Armstrong, Adger",1981,2,CLE,W,9 to 3,4,10,0,1,48,0,0